@import url("comparer.css");

#titre_global {
    display: flex;
    flex-direction: row;
}

#parti_titre {
    padding-top: 2px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    font-style: italic;
}